.hero {
    position: relative;
    height: 100vh;
}

.hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 44% 50%;
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .3);
}

.hero .text-wrapper {
    position: relative;
    display: inline-block;
    color: white;
    top: 15vh;
    left: 10%;
}

.hero .text-wrapper h1 {
    margin-top: 0;
    font-size: 5.5rem;
}

@media screen and (max-width: 1300px) {
    .hero .text-wrapper {
        display: block;
        left: 0;
        text-align: center;
    }

    .hero .text-wrapper h1 {
        font-size: 7rem;
    }

    .hero .text-wrapper br {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .hero .text-wrapper h1 {
        font-size: 5.5rem;
    }
}

@media screen and (max-width: 600px) {
    .hero .text-wrapper h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 350px) {
    .hero .text-wrapper h1 {
        font-size: 3rem;
    }
}