.filters-wrapper {
    position: relative;
    width: 350px;
    background-color: #0a2457;
    display: inline-block;
    color: white;
    padding: 0px 10px;
    box-sizing: border-box;
}

.filters-wrapper h2 {
    text-align: center;
}

.keyword-search-input {
    width: 100%;
    padding: 5px 10px;
    font-size: 1.1rem;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
}

.mobile-exit-icon {
    display: none;
    font-size: 3rem;
    line-height: 15px;
    margin: 0;
    position: absolute;
    top: 15px;
    right: 15px;
}

.mobile-exit-icon:hover {
    cursor: pointer;
}

.page-btns-filter {
    width: 50%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.page-prev, .page-next {
    padding: .375rem .75rem;
    font-size: 1rem;
    border: none;
    border-radius: .25rem;
    background-color: #f8f9fa;
    line-height: 1.5rem;

}

.page-prev:hover, .page-next:hover {
    cursor: pointer;
}

.page-prev:disabled, .page-next:disabled {
    background-color: #f8f9fa91;
}

.page-prev:disabled:hover, .page-next:disabled:hover {
    cursor: auto;
}

.update-search-btn {
    font-size: 1rem;
    border: none;
    border-radius: .25rem;
    line-height: 1.5rem;
    padding: .375rem .75rem;
    margin: 20px 0;
}

@media screen and (min-width: 1401px) {
    /* only apply props to sticky filter div when screen is larger than 1400px */
    .filters-wrapper.sticky {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
    }
}

@media screen and (max-width: 1400px) and (min-width: 900px) {
    .collapse-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .filters-wrapper {
        width: 100%;
    }

    .page-btns-filter {
        display: none;
    }
}

@media screen and (max-width: 899px) {
    .filters-wrapper {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        right: -350px;
        overflow-y: auto;
        transition: right 1s;
    }
    
    .filters-wrapper.show-mobile {
        right: 0;
    }

    .mobile-exit-icon {
        display: inline-block;
    }

    .page-btns-filter {
        display: none;
    }

    .update-search-btn {
        float: right;
    }
}

@media screen and (max-width: 650px) {
    .filters-wrapper {
        width: 100%;
        right: -100%;
    }
}