.filters-wrapper {
    width: 350px;
    height: 100vh;
    background-color: #0a2457;
    display: inline-block;
    color: white;
}

.filters-wrapper.sticky {
    position: fixed;
    top: 0;
    right: 0;
}

.keyword-search-input {
    width: 100%;
    padding: 5px 10px;
    font-size: 1.1rem;
    border-radius: 5px;
}

.page-btns-filter {
    width: 50%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.page-prev, .page-next {
    padding: .375rem .75rem;
    font-size: 1rem;
    border: none;
    border-radius: .25rem;
    background-color: #f8f9fa;
    line-height: 1.5rem;

}

.page-prev:hover, .page-next:hover {
    cursor: pointer;
}

.page-prev:disabled, .page-next:disabled {
    background-color: #f8f9fa91;
}

.page-prev:disabled:hover, .page-next:disabled:hover {
    cursor: auto;
}